<h1><center>DSI11 Whatsapp Group EDA</center></h1>

# Importing Data

In [24]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#getting text
with open('data/WhatsApp Chat with DSI - no media.txt') as f:
    txt = f.read()
    
#Quick checkl
txt[:200]

'03/03/2020, 16:02 - Messages to this group are now secured with end-to-end encryption. Tap for more info.\n03/03/2020, 15:27 - Tanya DSI created group "GAâ€™s DSI-11 group"\n03/03/2020, 16:02 - You joined'

In [3]:
#separating lines using date/time instead of \n

#step 1 - getting rid of \n
txt = txt.replace('\n',' ')
#step 2 - split using expressions
data = re.split(r'(\d{2}/\d{2}\/\d{4}\,\s\d{2}\:\d{2})',txt)

data[:3]

['',
 '03/03/2020, 16:02',
 ' - Messages to this group are now secured with end-to-end encryption. Tap for more info. ']

In [4]:
# separating data for data frame (I know, there must be other ways)
date_l = []
user_l = []
text_l = []
for line in data[1:]:
    date = re.search(r'\d{2}/\d{2}\/\d{4}\,\s\d{2}\:\d{2}',line)
    name = re.search(r'\s\-[\w\s]*\:',line)
    if date:
        date_l.append(line)
    else:
        if name:
            user_l.append(name.group(0)[3:-4])
            text_l.append(line.replace(name.group(0),''))
        else:
            user_l.append('Change in Group')
            text_l.append(line[3:])

#creating data frame
df = pd.DataFrame({'date':date_l,'user':user_l,'text':text_l})

# Quick EDA

In [5]:
df.shape

(635, 3)

In [6]:
# as expected, most of the first messages are status updates (who joined, who changed named, etc)
df.head()

,date,user,text
0,"03/03/2020, 16:02",Change in Group,Messages to this group are now secured with en...
1,"03/03/2020, 15:27",Change in Group,"Tanya DSI created group ""GAâ€™s DSI-11 group"""
2,"03/03/2020, 16:02",Change in Group,You joined using this group's invite link
3,"03/03/2020, 16:14",Change in Group,You're now an admin
4,"03/03/2020, 17:07",Change in Group,Ben DSI joined using this group's invite link

In [7]:
# and this is how messages look. I love the fact that pandas kept the emojis
df.tail()

,date,user,text
630,"01/04/2020, 15:29",Luke,Delightful
631,"01/04/2020, 15:31",Suman,ðŸ‘ŒðŸ˜‚
632,"01/04/2020, 15:35",Ella,ðŸ˜‚
633,"01/04/2020, 16:18",Nanito R No,"Never change, please!"
634,"01/04/2020, 17:10",Nan,"Hahaha perfect... Next question is, can we ge..."

In [8]:
#no nulls!
df.isnull().sum()

date    0
user    0
text    0
dtype: int64

In [9]:

df.describe(include = 'all')

                     date  user               text
count                 635   635                635
unique                443    24                522
top     18/03/2020, 17:04  Nan    <Media omitted>
freq                    9    95                 75

In [10]:
#fixing my name
df.user.replace({'Nanito R  No':'Hernan'},inplace=True)
#Well done Nan and Max! You put most of us to shame.
df.user.value_counts()

Nan                95
Max                83
Paul               51
James              48
Anna               38
Ella               37
Charlie            35
Maria              29
Ki                 24
Niall              23
Ian                19
Tanya              19
Hernan             16
Callum             16
Change in Group    15
Suman              15
Aaron              14
Ben                14
Luke               14
Isabella           13
Noah                7
Jonathan            7
Alastair            2
Axel                1
Name: user, dtype: int64

# Extracting some features

In [15]:
# flagging media files (media files not included, sorry!)
df['media'] = df.text.apply(lambda x: True if '<Media omitted>' in x else False)
# when someone shared a link
df['link'] = df.text.apply(lambda x: True if 'http' in x else False)
# len in characters
df['len'] = df.text.apply(lambda x: len(x))

In [16]:
#!pip install emoji
import 
def extract_emojis(str):
  return ''.join(c for c in str if c in emoji.UNICODE_EMOJI)

In [20]:
import emoji
df['emoji_num'] = df.text.apply(lambda x: len(extract_emojis(x)))
df['emojis'] = df.text.apply(extract_emojis)

In [21]:
df

,date,user,text,media,link,len,emoji_num,emojis
0,"03/03/2020, 16:02",Change in Group,Messages to this group are now secured with en...,False,False,86,0,
1,"03/03/2020, 15:27",Change in Group,"Tanya DSI created group ""GAâ€™s DSI-11 group""",False,False,44,0,
2,"03/03/2020, 16:02",Change in Group,You joined using this group's invite link,False,False,42,0,
3,"03/03/2020, 16:14",Change in Group,You're now an admin,False,False,20,0,
4,"03/03/2020, 17:07",Change in Group,Ben DSI joined using this group's invite link,False,False,46,0,
...,...,...,...,...,...,...,...,...
630,"01/04/2020, 15:29",Luke,Delightful,False,False,12,0,
631,"01/04/2020, 15:31",Suman,ðŸ‘ŒðŸ˜‚,False,False,4,2,ðŸ‘ŒðŸ˜‚
632,"01/04/2020, 15:35",Ella,ðŸ˜‚,False,False,3,1,ðŸ˜‚
633,"01/04/2020, 16:18",Hernan,"Never change, please!",False,False,23,0,
634,"01/04/2020, 17:10",Nan,"Hahaha perfect... Next question is, can we ge...",False,False,91,1,ðŸ˜‚

# Stats per user

In [47]:
user_stats = df.groupby('user').agg({'date':len,'len':np.mean,'media':sum,'link':sum,'emoji_num':sum})
user_stats.columns = ['total_messages','avg_len','media','link','emoji_num']

In [54]:
user_stats.sort_values(by = 'total_messages', ascending = False)

                 total_messages    avg_len  media  link  emoji_num
user
Nan                          95  71.842105    9.0   4.0         18
Max                          83  47.975904   11.0   1.0          0
Paul                         51  36.588235    6.0   1.0          9
James                        48  28.854167    8.0   1.0         33
Anna                         38  33.605263    3.0   3.0          5
Ella                         37  21.918919   12.0   1.0         17
Charlie                      35  34.142857    5.0   2.0         28
Maria                        29  57.103448    1.0   3.0         16
Ki                           24  33.333333    5.0   0.0          6
Niall                        23  23.260870    3.0   0.0          3
Tanya                        19  84.947368    1.0   2.0          9
Ian                          19  64.473684    1.0   2.0          5
Hernan                       16  18.187500    3.0   0.0          2
Callum                       16  23.750000    0.0   1.0          3
Change in Group              15  50.000000    0.0   0.0          0
Suman                        15  26.466667    2.0   0.0         11
Luke                         14  23.928571    2.0   0.0          4
Ben                          14  30.428571    0.0   0.0          0
Aaron                        14  44.500000    1.0   1.0          9
Isabella                     13  18.923077    1.0   0.0          8
Jonathan                      7  58.142857    0.0   1.0          2
Noah                          7  47.000000    0.0   0.0          0
Alastair                      2  46.500000    0.0   0.0          0
Axel                          1  17.000000    1.0   0.0          0

### Top 5 media sharers

In [49]:
user_stats.media.sort_values(ascending=False)[:5]

user
Ella      12.0
Max       11.0
Nan        9.0
James      8.0
Paul       6.0
Name: media, dtype: float64

### Top 5 link sharers

In [50]:
user_stats.link.sort_values(ascending=False)[:5]

user
Nan         4.0
Anna        3.0
Maria       3.0
Tanya       2.0
Charlie     2.0
Name: link, dtype: float64

### Top Emoji users

James... we need to talk...

In [51]:
user_stats.emoji_num.sort_values(ascending=False)[:5]

user
James       33
Charlie     28
Nan         18
Ella        17
Maria       16
Name: emoji_num, dtype: int64

### Top Avg Typers

In [53]:
user_stats.avg_len.sort_values(ascending=False)[:5]

user
Tanya        84.947368
Nan          71.842105
Ian          64.473684
Jonathan     58.142857
Maria        57.103448
Name: avg_len, dtype: float64